<div class="container">
  <h4>Re-cycle Re-clothe Re-wardrobe!</h4>
  <h1>How to swap?</h1>
  <div class="bs-docs-section">
    <div class="row">
      <p>A web app for users to exchange clothes with one another.
        There is no monetization, the app is designed to reduce the waste
        involved in keeping your wardrobe fresh, on-trend and enviromentally friendly.
        To use, upload plenty of items to your wardrobe to allow your counterparts a big selection,
        search through the homepage for any item you would like to add to your wardrobe and instigate a
        swap, click the item, and make a request... The other user will come online see the request and search through your wwardrobe for an item they would like.
      </p>


    </div>
  </div>

</div>
