<h1>Hello</h1>

<ul>
  <% @requests.each do |request| %>
  <li><%= image_tag request.item.image.url(:thumb) %> </li>
  <li><%= request.user.email %>
  <li><%= link_to "Their wardrobe", second_choice_path(request_id: request) %>
  <%end%>
</ul>
